<%= link_to "Back", root_path %>

<fieldset>
  
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
  
  <%= form_for(:session, url: do_login_admin_path, :html => {:class => "form-signin"}) do |f| %>
      <h2 class="form-signin-heading">Sign in as admin</h2>
      <p><%= f.label :name, "Name:", class: "sr-only" %></p>
      <p><%= f.text_field(:name,:required => true,  placeholder: "Name", class: 'form-control') %></p>

      <p><%= f.label(:password, "Password:", class: "sr-only") %></p>
      <p><%= f.password_field(:password,:required => true,  placeholder: "Password", class: 'form-control') %></p>

      <p><%= f.submit("Log in", class: "btn btn-lg btn-primary btn-block") %></p>
  <% end %>
</fieldset>